<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" th:href="@{/theme2.css}">
</head>W
<body>

<h1 align="center">Manage Projects</h1>

<table>
    <thead>
    <tr>
        <th scope="col">Project Number</th>
        <th scope="col">Project Name</th>
        <th scope="col">Project Description</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>

    </tr>

    </thead>
    <tbody>

    <tr th:each="project : ${projects}">
        <td th:text="${project.project_name}"/>
        <td th:text="${project.project_description}"/>
        <td th:text="${project.start_date}"/>
        <td th:text="${project.end_date}"/>


        <td><a th:href="@{/projects/{user_id}/edit/{project_id}(user_id=${user_id}, project_id=${project.project_id})}">
            <button type="button" class="btn">Edit project</button>
        </a></td>
        <td><a th:href="@{/deleteProject/{project_id}(project_id=${project.project_id})}">
            <button type="button" class="btn">Delete project</button>
        </a> </td>
        <td><a th:href="@{/tasks/{project_id}(project_id=${project.project_id})}">
            <button type="button" class="btn">View tasks</button>
        </a></td>

    </tr>

    <div>
        <a th:href="@{/projects/create/{user_id}(user_id=${user_id})}">
            <button type="button" class="btn">Create project</button>
        </a>

        <a th:href="@{/home/{user_id}(user_id=${user_id})}">
            <button type="button" class="btn">Home</button>
        </a>
    </div>


    </tbody>
</table>
</body>
</html>