<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Task</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Edit Task</h1>

<div>
  <form method="post" th:action="@{/task/{project_id}/edit/{task_id}(project_id=${project_id}, task_id=${task_id})}">

    <label for="task_name" class="form-label">Task name:</label>
    <input id="task_name" type="text" th:name="task_name" th:value="${subtask.subtask_name}">

    <label for="hours" class="form-label">Hours:</label>
    <input id="hours" type="text" th:name="hours" th:value="${subtask.hours}">

    <label for="task_start_date" class="form-label">Start date</label>
    <input id="task_start_date" type="date" th:field="${subtask.start_date}">

    <label for="task_end_date" class="form-label">End date</label>
    <input id="task_end_date" type="date" th:field="${subtask.end_date}">

    <input type="hidden" th:field="*{subtask_id}" required>

    <input type="hidden" th:name="task" th:value="*{task_id}" required>


    <button type="submit" class="btn">Save</button>
  </form>
</div>
<div>
  <a th:href="@{/subtasks/delete/{subtask_id}(subtask_id=${subtask.subtask_id})}">
    <button type="button" class="btn">Delete Subtask</button>
  </a>
  <a th:href="@{/subtasks/{task_id}(task_id=${task_id})}">
    <button type="button" class="btn">Return to subtask</button>
  </a>

</div>
</body>
</html>
