<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subtasks</title>
</head>
<body>

<h1 align="center">Subtasks</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Subtask id</th>
        <th scope="col">Subtask name</th>
        <th scope="col">Subtask hours</th>
        <th scope="col">Task id</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subtask : ${subtasks}">
        <td th:text="${subtask.subtask_id}"/>
        <td th:text="${subtask.subtask_name}"/>
        <td th:text="${subtask.hours}"/>
        <td th:text="${subtask.task_id}"/>
        <td th:text="${subtask.start_date}"/>
        <td th:text="${subtask.end_date}"/>

        <td> <a th:href="@{/subtasks/delete/{subtask_id}(subtask_id=${subtask.subtask_id})}">
                <button type="button" class="btn">Delete Subtask</button>
        </a> </td>

        <td> <a th:href="@{/subtask/{task_id}/edit/{subtask_id}(task_id=${task_id}, subtask_id=${subtask.subtask_id})}">
            <button>Edit Subtask</button>
        </a></td>


    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/subtasks/create/{task_id}(task_id=${task_id})}">
        <button type="button" class="btn">Create Subtask</button>
    </a>
</div>

<a th:href="@{/tasks/{project_id}(project_id=${project_id})}">
    <button type="button" class="btn go-back">Go Back</button>
</a>

</body>
</html>