<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'percentage');
            data.addColumn('string', 'Dependencies');

            //TODO:: I HAVE A PROBLEM WITH PARSEING OUR DATA INTO THE GANTT CHART. WORKS WITH MANUAL INPUT
            var taskSubtasks = /*[[${taskSubtasks}]]*/ [];

            taskSubtasks.forEach(function (task) {
                var statusValue = parseInt(getStatusValue(task.status));

                data.addRow([
                    task.task_id.toString(),
                    task.task_name,
                    new Date(task.task_start_date),
                    new Date(task.task_end_date),
                    null,
                    null,
                    null
                ]);

                task.subtasks.forEach(function (subtask) {
                    var subtaskStatusValue = parseInt(getStatusValue(subtask.subtask_status));

                    data.addRow([
                        subtask.subtask_id.toString(),
                        subtask.subtask_name,
                        new Date(subtask.subtask_start_date),
                        new Date(subtask.subtask_end_date),
                        null,
                        subtaskStatusValue,
                        null
                    ]);
                });
            });


            var chartData = [
                /* Add your chart data here as JavaScript array of arrays */
                ['Task1', 'Task 1', 'Resource', new Date(2023, 4, 19), new Date(2023, 4, 23), null, null, null],
                ['Task2', 'Task 2', 'Resource', new Date(2023, 4, 24), new Date(2023, 4, 28), null, null, 'Task1']
            ];
            data.addRows(chartData);

            var options = {
                height: 400,
                gantt: {
                    trackHeight: 30
                }
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        function getStatusColor(status) {
            if (status === 1) {
                return '#0050ff'; // TODO color
            } else if (status === 2) {
                return '#ffdc0c'; // In Progress color
            } else if (status === 3) {
                return '#14cb2e'; // Done color
            }
            return '';
        }

    </script>
</head>
<body>
<div id="chart_div"></div>
</body>
</html>




