<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'percentage');
            data.addColumn('string', 'Dependencies');

            //TODO:: PROBLEM WITH PARSEING OUR DATA INTO THE GANTT CHART. WORKS WITH MANUAL INPUT
            var taskSubtasks = /*[[${taskSubtasksJson}]]*/ [];

            taskSubtasks.forEach(function (task) {
                data.addRow([
                    task.task_id.toString(),
                    task.task_name,
                    null,
                    new Date(task.task_start_date),
                    new Date(task.task_end_date),
                    null,
                    null,
                    null
                ]);

                task.subtasks.forEach(function (subtask) {
                    data.addRow([
                        subtask.subtask_id.toString(),
                        subtask.subtask_name,
                        null,
                        new Date(subtask.subtask_start_date),
                        new Date(subtask.subtask_end_date),
                        null,
                        null,
                        null
                    ]);
                });
            });

            var options = {
                height: 400,
                gantt: {
                    trackHeight: 30
                }
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>
<div id="chart_div"></div>
</body>
</html>




