<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<h1 align="center">Tasks</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Task name</th>
        <th scope="col">Task hours</th>
        <th scope="col">Task estimated time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.task_name}"/>
        <td th:text="${task.hours}"/>
        <td th:text="${task.calculatedTime}"/>

        <td>
            <a th:href="@{/projects/}">
        <td><a th:href="@{/task/{project_id}/edit/{task_id}(project_id=${project_id}, task_id=${task.task_id})}">
            <button>Edit Task</button>
        </a>
        </td>

        <td>
            <a th:href="@{/task/delete/{task_id}(task_id=${task.task_id})}">
                <button>Delete Task</button>
            </a>
        </td>

        </a></td>

        <td>
            <a th:href="@{/subtasks/{task_id}(task_id=${task.task_id})}">
                <button type="button" class="btn">View subtasks</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>

<div>
    <h3>Projects estimated time</h3>
    <span th:text="${projectCalculatedTime}"></span>
</div>


<div>
    <a th:href="@{/task/create/{project_id}(project_id=${project_id})}">
        <button type="button" class="btn">Create Task</button>
    </a>

    <a th:href="@{/projects/{user_id}(user_id=${user_id})}">
        <button type="button" class="btn go-back">Go Back</button>
    </a>
</div>


</body>
</html>