<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>

<div align="center">

    <h1>Create Task</h1>

    <form th:action="@{/task/create/{project_id}(project_id=${project_id})}" method="POST" th:object="${tsk}">

        <div class="createTaskForm">
            <label class="createTaskForm">Task name:</label>
            <input type="text" th:field="*{task_name}" placeholder="Task name" required>
        </div>

        <div class="createTaskForm">
            <label class="createEmployeeForm">Startdate:</label>
            <input type="text" th:field="*{start_date}" placeholder="Start date" required>
        </div>
        <div class="createTaskForm">
            <label class="createEmployeeForm">Enddate:</label>
            <input type="text" th:field="*{end_date}" placeholder="End date" required>
        </div>

        <br>

        <div>
            <input type="submit" value="Create Task" class="btn success"/>
            <input type="reset" value="Reset" class="btn reset"/>
        </div>

        <br>

        <a th:href="@{/task/{project_id}(project_id=${project_id})}">
            <button type="button" class="btn go-back">Go Back</button>
        </a>

    </form>


</div>

</body>
</html>
