<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>

<h1>YOU SIGNED IN</h1>

<div>
    <a th:href="@{/logout}">
        <button type="button" class ="btn">Logout</button>
    </a>

    <a th:href="@{/projects/{organization_id}(organization_id=${organization_id})}">
        <button type="button" class ="btn">See current projects</button>
    </a>


    <a th:href="@{/employees/{organization_id}(organization_id=${organization_id})}">
        <button type="button" class ="btn">See Employees</button>
    </a>
</div>

</body>
</html>