<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<h1 align="center">Manage Projects</h1>

<table class="table table-dark" th:each="project : ${projects}">
    <thead>
    <tr>
        <th scope="col">Project Number</th>
        <th scope="col">Project Name</th>
        <th scope="col">Estimated Time</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Organization ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${project.project_id}"/>
        <td th:text="${project.project_name}"/>
        <td th:text="${project.estimated_time}"/>
        <td th:text="${project.employee_id}"/>
        <td th:text="${project.organization_id}"/>
        <td><a th:href="@{/editProject/{project_id}(project_id=${project.project_id})}">
            <button type="button" class="btn">Edit project</button>
        </a></td>

    </tr>
    </tbody>
</table>
</body>
</html>