<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h2 class="logo">logo</h2>
    <nav class="navigation">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Contact</a>
        <button class="btnlogin-popup">Login</button>

    </nav>
</header>
<div class="wrapper">
<span class="icon-close">
    <ion-icon name="close-outline"></ion-icon>
</span>

    <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
                <input type="organization_name" required>
                <label>Organization</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="#"class="register-link">Register</a> </p>
            </div>
        </form>
    </div>
</div>
<h2 align="center">Sign in</h2>

<div align="center" class="sign-in">
    <form method="post" th:action="@{/signin}" th:object="${organization}">
    <pre>

        <label for="organization_name">Organization Name:</label>
        <input id="organization_name" type="text"
               th:field="*{organization_name}"
               placeholder="Organization name"
               required="required"/>

        <label for="password">Password:</label>
        <input id="password" type="text"
               th:field="*{password}"
               placeholder="Password"
               required="required"/>

        <input type="submit" value="Log in">

    </pre>
    </form>

</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
<!--
<a th:href="@{/projects}">
  <button type="button" class ="btn">See current projects</button>
</a>
-->

