<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>


<div align="center">

  <h1>Sign up Organization</h1>

  <br>

  <form th:action="@{/signup}" method="post" th:object="${organization}">

    <div class="signupForm">
        <label class="col-sm-2 col-form-label"> Organization name:</label>
        <input type="text" th:field="*{organization_name}" placeholder="Organization name" required>
    </div>
    <div class="signupForm">
        <label class="col-sm-2 col-form-label"> Password:</label>
        <input type="text" th:field="*{password}" placeholder="password" required>
    </div>

    <br>

    <div>
      <input type="submit" value="Sign up" class="btn-success"/>
      <input type="reset" value="Reset" class="btn-reset"/>
    </div>

    <br>

    <a th:href="@{/}">
      <button type="button" class="btn btn-secondary btn-lg">Go Back</button>
    </a>

  </form>
</div>

</body>
</html>