<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/theme2.css}" rel="stylesheet">
</head>
<body>

<h2 align="center">Sign in</h2>

<div align="center" class="sign-in">
    <form method="post" th:action="@{/signin}" th:object="${user}">
    <pre>

        <label for="user_name">Organization Name:</label>
        <input id="user_name" type="text"
               th:field="*{username}"
               placeholder="Username"
               required="required"/>

        <label for="password">Password:</label>
        <input id="password" type="text"
               th:field="*{password}"
               placeholder="Password"
               required="required"/>

        <input type="submit" value="Log in">

        <a th:href="@{/signup}">
            <button type="button">Create new account</button>
        </a>

    </pre>
    </form>

</div>

</body>
</html>
<!--
<a th:href="@{/projects}">
  <button type="button" class ="btn">See current projects</button>
</a>
-->

