<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/signin.css}" rel="stylesheet">
</head>
<body>

<h2 align="center">Sign in</h2>

<div align="center" class="sign-in">
    <form method="post" th:action="@{/signin}" th:object="${organization}">
    <pre>

        <label for="organization_name">Organization Name:</label>
        <input id="organization_name" type="text"
               th:field="*{organization_name}"
               placeholder="Organization name"
               required="required"/>

        <label for="password">Password:</label>
        <input id="password" type="text"
               th:field="*{password}"
               placeholder="Password"
               required="required"/>

        <input type="submit" value="Log in">

    </pre>
    </form>

</div>

</body>
</html>
<!--
<a th:href="@{/projects}">
  <button type="button" class ="btn">See current projects</button>
</a>
-->

